on init
#	fake to CDP case
#	write /sys/module/musb_hdrc/parameters/musb_skip_charge_detect 1

# 	set battery thread free
    write /sys/class/android_usb/android0/enable 0
#Gionee GuoJianqiu 20160219 modify for USB VID  PID begin 
    write /sys/class/android_usb/android0/idVendor 271D
    write /sys/class/android_usb/android0/idProduct 2008
    write /sys/class/android_usb/android0/f_ffs/aliases adb
    write /sys/class/android_usb/android0/functions adb
#Gionee GuoJianqiu 20160219 modify for USB VID  PID end 
    write /sys/class/android_usb/android0/enable 1

#	make this twice to keep following action not race with batyery thread
    write /sys/class/android_usb/android0/enable 0
#Gionee GuoJianqiu 20160219 modify for USB VID  PID begin 
    write /sys/class/android_usb/android0/idVendor 271D
    write /sys/class/android_usb/android0/idProduct 2008
    write /sys/class/android_usb/android0/f_ffs/aliases adb
    write /sys/class/android_usb/android0/functions adb
#Gionee GuoJianqiu 20160219 modify for USB VID  PID end 
    write /sys/class/android_usb/android0/enable 1

# 	distinguish USB shoulde connect or not by this, CDP vs SDP
#Gionee GuoJianqiu 20160219 modify for USB VID  PID begin 
	write /sys/devices/platform/mt_usb/cmode 1
#Gionee GuoJianqiu 20160219 modify for USB VID  PID end 

on property:ro.debuggable=1
# 	restore cmode to normal for making USB enumeration
	write /sys/devices/platform/mt_usb/cmode 1
  
    symlink /system/etc /etc

on fs
    write /proc/bootprof "start mobicore (on fs)"    
    chmod 0600 /dev/mobicore
    chown system system /dev/mobicore
    chmod 0666 /dev/mobicore-user
    chown system system /dev/mobicore-user
    # MobiCore Daemon Paths
    export MC_AUTH_TOKEN_PATH /efs
    start mobicore
    write /proc/bootprof "start mobicore end (on fs)"

    chmod 0666 /dev/kmsg
    start fuelgauged

service ueventd /sbin/ueventd
    critical
    seclabel u:r:ueventd:s0

service fuelgauged /sbin/fuelgauged_static
    seclabel u:r:fuelgauged_static:s0

service healthd /sbin/healthd -r
    critical
    seclabel u:r:healthd:s0

# Start Daemon (Registry directories should already be present)
service mobicore /system/bin/mcDriverDaemon -r /system/app/mcRegistry/020f0000000000000000000000000000.drbin -r /system/app/mcRegistry/05120000000000000000000000000000.drbin -r /system/app/mcRegistry/070b0000000000000000000000000000.drbin
        user system
        group system
        class core
        oneshot
